# Backend API URL
# Development
NEXT_PUBLIC_API_URL=http://localhost:3131/api
# Production
# NEXT_PUBLIC_API_URL=https://silverglow.store/api

# Application URL
# Development
NEXT_PUBLIC_APP_URL=http://localhost:3030
# Production
# NEXT_PUBLIC_APP_URL=https://silverglow.store
